* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  background-color: #313e50;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  width: 150px;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 20px;
  }
  input {
    padding: 5px 10px;
    font-size: 15px;
    margin: 5px;
    width: 100px;
  }
}
