* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: auto;
  background-color: #94550d;
  padding: 2.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  color: white;
}

div {
  width: 50%;
  margin: 0 1rem;
}

input {
  height: 40px;
  width: 200px;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
}

@media screen and (max-width: 650px) {
  p {
    font-size: 12px;
  }
  input {
    font-size: 13px;
    width: 110px;
    height: 30px;
  }
}
